APP_ENV=development

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

BOT_TOKEN=
BOT_USERNAME=club_module_bot
SECRET_KEY=
TG_PROXY_URL=

CM_BONUS_BOT_TOKEN=
CM_BONUS_ADMIN_CHAT_ID=

AUTO_MAILING_TIMEZONE=Europe/Moscow

CLUBMODULE_UPLOAD_ROOT=/var/www/clubmodule_uploads/stage
CLUBMODULE_UPLOAD_URL_PREFIX=/uploads
CLUBMODULE_UPLOAD_QUOTA_MB=25
CLUBMODULE_IMAGE_MAX_MB=5
