[Unit]
Description=Check configured Gizmo clubs every minute

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Unit=clubmodule-gizmo-sync.service

[Install]
WantedBy=timers.target
