[Unit]
Description=Process queued Cyber Bonus monthly reports

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=10s
Unit=clubmodule-monthly-reports.service

[Install]
WantedBy=timers.target
