[Unit]
Description=Check configured Gizmo clubs every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
Unit=clubmodule-gizmo-sync.service

[Install]
WantedBy=timers.target
